body {
  background: pink;
  text-align: center;
  font-family: Arial;
  color: #333;
  margin-top: 100px;
}

h1 {
  color: white;
  font-size: 42px;
  letter-spacing: 3px;
  font-weight: 700;
}

p {
  color: white;
  letter-spacing: 1px;
}

button {
  background: #d98fa3;
  color: white;
  border: 10px solid #eee;
  padding: 25px;
  border-radius: 12px;
  margin: 15px;
  font-size: 16px;
  font-weight: 600;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  .product {
    margin: 10px;
    padding: 20px;
  }

  button {
    width: 90%;
  }
}
